ion-content {
    --background: url(../../../assets/projectb.jpg) 0 0/100% 100% no-repeat ;
}
ion-card {
    background-color: white;
}
.exit-icon {
    font-size: 25px;
}
.tabicon {
    color: blueviolet;
}