.tabicon {
    color: blueviolet;
}
ion-card-subtitle {
    color: red;
}

ion-card {
  position: relative;
  top: 30px;
  background-color: white;
         
}

ion-content {
    --background: url(../../../assets/projectb.jpg) 0 0/100% 100% no-repeat ;
}
          