<ion-app>

  <ion-header>
    <mat-toolbar class="mat-primary" >
      <h3 [style.color]="'white'">Add new task</h3> <hr/>
    </mat-toolbar>
  </ion-header>

  <ion-content>
    <div class="container">
      <div [hidden]="taskAdded">
          <ion-card id="card">
            <ion-card-header>
              <ion-card-title>New task Information</ion-card-title>
              <ion-card-subtitle >(* is a required field)</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              <form (ngSubmit)="onSubmit()">
                <mat-form-field>
                  <input matInput id="title" type="text" required [(ngModel)]="newTask.name" name="title" placeholder="Task name">
                </mat-form-field> <br/>
                <ion-item>
                  <ion-label>Project</ion-label>
                  <ion-select (ionChange)="updateSelectedValue($event)">
                      <ion-select-option *ngFor="let project of projectList" [value]="project">{{project.title}}</ion-select-option>
                  </ion-select>
                </ion-item> <br/>
               <button class="mat-primary" mat-raised-button type="submit">Add Task</button> &nbsp;
              </form>
            </ion-card-content>
          </ion-card>
      </div>
      <div class="row" [hidden]="!taskAdded">
        <h3 style="color:aliceblue;">&nbsp; task added successfully!</h3>
      </div>
    </div>
  </ion-content>

  <ion-footer >
    <ion-toolbar >
      <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button  class="tabicon" routerLink="/home">
            <ion-icon name="clipboard"></ion-icon>
            <ion-label>Projects</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="tasks" class="tabicon">
            <ion-icon name="list-box" ></ion-icon>
            <ion-label>Tasks</ion-label>
            <!-- <ion-badge>6</ion-badge> -->
          </ion-tab-button>
      
          <ion-tab-button tab="notifications" class="tabicon">
            <ion-icon name="notifications" ></ion-icon>
            <ion-label>Notifications</ion-label>
          </ion-tab-button>
    
          <ion-tab-button tab="about" class="tabicon">
            <ion-icon name="search" ></ion-icon>
            <ion-label>Search</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs >
    </ion-toolbar>
  </ion-footer >
</ion-app>
