    <ion-toolbar >
      <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="projects" class="tabicon">
            <ion-icon name="clipboard" ></ion-icon>
            <ion-label>Projects</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="tasks" class="tabicon">
            <ion-icon name="list-box" ></ion-icon>
            <ion-label>Tasks</ion-label>
            <!-- <ion-badge>6</ion-badge> -->
          </ion-tab-button>
      
          <ion-tab-button tab="notifications" class="tabicon">
            <ion-icon name="notifications" ></ion-icon>
            <ion-label>Notifications</ion-label>
          </ion-tab-button>
    
          <ion-tab-button tab="about" class="tabicon">
            <ion-icon name="search" ></ion-icon>
            <ion-label>Search</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs >
    </ion-toolbar>
